{{define "yield"}}
<br>
<div class="row justify-content-center">
<div class="col-md-12 col-md-offset-3">
<h1>
{{.Title}}
</h1>
<br>
<a href="/galleries/{{.ID}}/edit">Edit Gallery</a>
<hr>
</ul>
</div>
</div>

<div class="row">
{{range .ImagesSplitN 3}}
<div class="col-md-4">
{{range .}}
<a href="{{.Path}}">
<img src="{{.Path}}" class ="thumbnail"/>
</a>
{{end}}
</div>
{{end}}
</div>

{{end}}
