{{define "yield"}}
<br>
<div class="row justify-content-center">
<div class="col-md-12 col-md-offset-3">
<h1>
{{.Title}}
</h1>
<ul>
{{range .Images}}
<li> {{.}} </li>
{{end}}
</ul>
<p>Images coming soon...</p>
</div>
</div>
{{end}}
